.btn__phrase{
    display: block;
    margin-left: auto;
    background-color: rgba(16, 82, 143, 0.7);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.7em;
    font-size: 1.1rem;
    font-weight: 400;
    transition: transform 100ms easy;
}
.btn__phrase:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1em black;
}